<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=}, initial-scale=1.0">
    <title>Peli - Detalle</title>
    <link rel="cac-movie icon" href="../static/img/favicon.ico" type="image/x-icon">

    <!-- Fuentes de google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

    
    <script src="https://kit.fontawesome.com/883a12fdd2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./static/css/styles.css">

    <!-- <link rel="stylesheet" href="../static/css/styles.css"> -->
<link rel="stylesheet" href="../static/css/detail.css">
</head>
<body>
    <header>
        <nav>
            <!-- logo y nombre sitio -->
            <div id="movie-detail-logo">
                    <a href="../index.html">
                        <!-- aqui icono de fontawesome -->
                        <i class="fa-solid fa-film fa-spin"></i>
                        <span class="logo-text"> 
                        CaC - Pelis!!!!!!!!
                    </span>
                 </a>
         </div>
            <!-- menu de acciones -->

            <ul type="square">
                <li>Tendencias</li>
                <li>
                    <!-- ruta relativa a mi archivo actual -->
                    <a href="./register.html">Registrarse</a>
                </li>
                <li>
                    <a 
                    href="https://developer.themoviedb.org/docs"
                    target="_blank"
                    title="Ir a la pagina que me dara las pelis para este hermoso frontend"
                    >
                    API
                </a>
                </li>
                <li><a class="btn-primary" href="#">
                        <!-- aqui icono de fontawesome -->
                        <i class="fas fa-sign-in-alt"></i>
                        <span class="login-text">
                        Iniciar Sesión
                        </span>    
                    </a> 
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="banner-movie">      
            <div class="movie-detail">
                <div class="movie-detail-poster">
                    <img src="../static/img/avengerInfinityWar.jpg" alt="">
                </div>
                <div class="movie-detail-info">
                    <div class="publicidad">
                        Hola espacio para publicar
                    </div>
                    <div class="movie-detail-info-title">
                      <h2>The Super Mario Bros. Movie <span>(2023)</span></h2>
                      <p>04/05/2023 • Animation, Family, Adventure, Fantasy, Comedy • 1h 33m</p>
                    </div>
                    <div class="movie-detail-info-overview">
                      <h3>Overview</h3>
                      <p>While working underground to fix a water main, Brooklyn plumbers—and brothers—Mario and Luigi are transported down a mysterious pipe and wander into a magical new world. But when the brothers are separated, Mario embarks on an epic quest to find Luigi.</p>
                    </div>
                    <div class="movie-detail-info-credits">
                      <p>Aaron Horvath</p>
                      <p>Director</p>
                    </div>
                    <div class="movie-detail-info-credits">
                        
                      <p>Michael Jelenic</p>
                      <p>Director</p>
                    </div>
                    <div class="movie-detail-info-credits">
                        
                      <p>Matthew Fogel</p>
                      <p>Writer</p>
                      
                    </div>
                    

                  </div>
                  
                              
            </div>
            
    </section> 

        <section id="more-info">
            <div>
                <h2>Trailer</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/aAoKqx9wb1I?si=5mwwDqTgH9oTR71n" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>  
            </div>

            <div class="more-info-table">
                <table>
                    <tr>
                        <td colspan="2" align="center">Info</td>
                    </tr>
                    <tr>
                        <td><strong>Estado</strong></td>
                        <td>Estrenada</td>
                    </tr>
                    <tr>
                        <td><strong>Lenguaje</strong></td>
                        <td>Ingles</td>
                    </tr>
                    <tr>
                        <td><strong>Presupuesto</strong></td>
                        <td>10000000</td>
                    </tr>
                    <tr>
                        <td><strong>Ganancia</strong></td>
                        <td>50000000</td>
                    </tr>

                </table>

            </div>

        </section>

    </main>
</body>
</html>